.search-background{
background-image: url(/public/whodrives.gif);
background-repeat: no-repeat;
 background-size: cover;
   width: 100vw;
   height:100vh;
   z-index: -1;
   position: absolute;
}

option:hover{
    background-color: aqua;
    cursor: pointer;
}
option{
    background-color: white;
}
input:focus {
    outline:none;
}