@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "pressStart2p";
    src: url('../../public/assets/fonts/PressStart2P.ttf');
}

@font-face {
    font-family: "roboto";
    src: url('../../public/assets/fonts/Roboto.ttf');
}

.pressStart2p-text {
    font-family: "pressStart2p";
}

.roboto-text {
    font-family: "roboto";
}


/* NEON EFFECT MAIN TITLE */
@keyframes neon-title {
    0%{
      text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 29px #8000FF,
      0 0 44px #8000FF,
      0 0 60px #8000FF;
    }
    50% {
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 25px #8000FF,
        0 0 54px #8000FF,
        0 0 70px #8000FF;
    }
    }

/* NEON EFFECT SECTION TITLES */
@keyframes neon-section {
    0%{
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 19px #0075FF,
        0 0 34px #0075FF,
        0 0 50px #0075FF;
    }
    50% {
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 15px #0075FF,
        0 0 44px #0075FF,
        0 0 60px #0075FF;
    }
    }

html,
body {
    padding: 0;
    margin: 0;
    overflow-y: visible;
}

h1 {
    font-family: "pressStart2p";
    font-size: large;
}

h2 {
  font-family: "pressStart2p";
  font-size: medium;
}

h3 {
  font-family: "pressStart2p";
  font-size: small;
}

p {
    font-family: "roboto";
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .green-button {
    background-color: white;
    color: #02EF92;
    cursor: pointer;
    border: 2px solid black;
    font-family: "pressStart2p";
  }

  .green-button:hover {
    background-color: #02EF92;
    color: white;
    cursor: pointer;
    border: 2px solid black;
    font-family: "pressStart2p";
  }

  .grey-button {
    background-color: #909090;
    color: white;
    cursor: not-allowed;
    border: 2px solid black;
    font-family: "pressStart2p";
  }

/* SECTION TITLE WITH BLUE NEON EFFECT */
.section-title {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 19px #0075FF,
    0 0 34px #0075FF,
    0 0 50px #0075FF;
  animation: neon-section 1s infinite linear;
}
