.icon {
    color: white;
}

@font-face {
    font-family: "pressStart2p";
    src: url('../../public/assets/fonts/PressStart2P.ttf');
}

.header-text {
    color: white;
    font-family: "pressStart2p";
    font-size: 1rem;
}
