.card h3{
    color: aliceblue;
}
.card{
    border: solid 3px #1195C3;
    padding: 5%;
    margin-top: 2%;
}
.imgMainCard{
    width: 20%;
    background-color: #e2d9b4;
    margin-right: 2%;
    margin-top: 2%;
}
.carDescription p {
    margin-top: 10%;
}
.profilPicture{
    width: 100%;
    margin-right: 5%;
}
.profilePictureCard{
    margin-right: 10%;
}
.aboutMe li{
    padding: 1%;
}
